# .NET build output
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.csproj.user

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Build artifacts / embedded resources
Packer/RuntimeStub.exe
*.zip

# Test output
EFB_AIP_BAG.exe

# WorkBuddy project data
.workbuddy/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
